@model MvcMovie.Models.Person
<h2>Create</h2>
<form asp-action="Create" method="post">
    <label>Id</label>
    <input asp-for="Id" class="form-control" />
    <label>FullName</label>
    <input asp-for="FullName" class="form-control" />
    <label>Age</label>
    <input asp-for="Age" class="form-control" />
    <label>Address</label>
    <input asp-for="Address" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>

