@model MvcMovie.Models.Person
<h2>Delete</h2>
<p>Bạn có chắc chắn muốn xóa: <strong>@Model.FullName</strong>?</p>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
