@model List<MvcMovie.Models.Person>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p><a href="/Person/Create">Create New</a> | <a href="/Person/Import">Import Excel</a></p>
<table class="table">
    <tr><th>FullName</th><th>Age</th><th>Address</th><th>Actions</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.Age</td>
            <td>@item.Address</td>
            <td>
                <a href="/Person/Edit/@item.Id">Edit</a> |
                <a href="/Person/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
